[Desktop Entry]
Encoding=UTF-8
Name=XSCP
Comment=XSCP P2P Cryptocurrency
Comment[fr]=XSCP, monnaie virtuelle cryptographique pair à pair
Comment[tr]=XSCP, eşten eşe kriptografik sanal para birimi
Exec=scope-qt %u
Terminal=false
Type=Application
Icon=scope128
MimeType=x-scheme-handler/scope;
Categories=Office;Finance;
