[Unit]
Description=XSCP's distributed currency daemon
After=network.target

[Service]
User=scopecoin
Group=scopecoin

Type=forking
PIDFile=/var/lib/scoped/scoped.pid
ExecStart=/usr/bin/scoped -daemon -pid=/var/lib/scoped/scoped.pid \
-conf=/etc/scopecoin/scope.conf -datadir=/var/lib/scoped -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
